GOOGLE_API_KEY=your_google_api_key_here
GROK_API_KEY=your_grok_api_key_here

# Server configs
PORT=5002

# Hybrid Memory Connections
MONGO_URI=your_mongo_uri_here
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=chat-memory
PINECONE_NAMESPACE=chat-memory

# Language Model Secrets
HF_TOKEN=your_hf_token_here  # Required for generating vector embeddings
