# PORT=5000
# MONGODB_URI=mongodb://localhost:27017/interview_prep
# JWT_SECRET=your_super_secret_jwt_key_change_in_production
# JWT_EXPIRE=7d
PORT=5000
MONGO_URI=mongodb+srv://yadavjhalak3211_db_user:sankalp26@cluster0.fgiyffq.mongodb.net/mern-auth
JWT_SECRET=af5f351d549709361686eb2fba892b0a1beeef2dd992663cbd5d84e6d57d2dd2
JWT_EXPIRE=1d

# VAPI Voice AI
VAPI_PRIVATE_KEY=df7c01d2-a942-42ee-8b03-1a12a43ea81b

# Google Generative AI (for feedback)
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyA9-NOnfR8O-dchGCbn52jbZBuVxuC1CAI

# Client URL for CORS
CLIENT_URL=http://localhost:5173


