body {
  background: #020617;
  color: #e2e8f0;
}

.card {
  background: rgba(30, 41, 59, 0.6);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 18px;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
}